<div class="grid-x">
  <div class="cell section">
    <div class="grid-x align-middle">
      <div class="cell small-4">
        <div class="grid-y">
          <div class="cell h1 text-left">
            The Cheapest Textbooks
          </div>
          <div class="cell h4 text-left color-primary">
            Save Up To 90% On Millions Of Titles
          </div>
          <div class="cell text-left">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
            </p>
          </div>
          <div class="cell">
            <button type="button" class="button primary large action-button -start">Get Started</button>
          </div>
        </div>
      </div>

      <div class="cell auto">
        <div class="grid-x align-right">
          <div class="cell small-8 book"></div>
        </div>
      </div>
    </div>
  </div>
</div>
