@import 'utils/variables';

.color-primary {
  color: $primary;
}

.color-white {
  color: $white;
}

.color-gold {
  color: $gold;
}

.color-alert {
  color: $alert;
}

.font-bold {
  font-weight: bold;
}
