<div class="page-nav margin-top-3">
  <div class="grid-x grid-padding-x align-middle">
    <div class="cell small-2">
      <%= image_tag 'sample_logo' %>
    </div>

    <div class="cell small-2 search">
      <input type="email" placeholder="Search" class="input" id="search">
    </div>

    <div class="cell small-8">
      <div class="grid-x align-middle align-right">
        <div class="cell small-2">Home</div>
        <div class="cell small-2">Rent Books</div>
        <div class="cell small-2">Buy Textbooks</div>
        <div class="cell small-2">Sell Textbooks &nbsp|</div>
        <div class="cell small-2">
          <div class="grid-x grid-padding-x align-middle">
            <div class="cell small-6 lang">
              <%= image_tag 'icon_feather_globe', class: 'icon' %>
              En
            </div>

            <div class="cell small-6">
              <button type="button" class="button primary action-button -contact">Contact</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
